::placeholder {
    color: gray;
}

main {
    text-align: center;
    margin: 20px;

    .todo-label {
        font-size: 25px;
        font-weight: bold;
        margin-bottom: 20px;
    }

    input {
        width: 200px;
        margin: 10px 0;
    }

    .add-task-button {
        font-size: 16px;
        background-color: lightblue;
        cursor: pointer;
        border-radius: 3px;
        width: 80px;
        margin: 10px auto 30px auto;
        padding: 5px;
    }

    .spinner {
        margin: 10px;
    }

    ul > li {
        font-size: 18px;
        margin: 10px 0;
        display: flex;
        align-items: center;
        justify-content: center;

        .text {
            margin: 0 10px;
        }

        .close {
            display: flex;
            svg {
                width: 24px;
                height: 24px;
                cursor: pointer;
            }
        }
    }
}